header {
    background-image: url("images/mizzou columns.jpg");
    padding-top: 150px;
    padding-bottom: 30px;
    color: white;
}

.lists {
    text-align: left;
    padding-left: 400px;
}

#NRLCA:hover {
    color:red;    
}

body {
    background-color: lightgray;
    text-align: center;
}

img {
    opacity: 0.6;
}

img:hover {
    opacity: 1.0;
}

footer {
    font-size: 12px;
    text-align: center;
}

a {
    text-decoration: none;
    color: darkgoldenrod;
}

a:hover {
    text-decoration: underline;
    color: #5A3E02;
}

h4 {
    margin-top: 80px;
    font-size: 25px;
}